{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-9 offset-2">
        <h4 class="alert alert-info">Update information</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {% for fields in form %}
             {{fields.label}} <br>
             {{fields}} <br>
            {% endfor %}
            <input type="submit" value="Update" class="btn-info btn mt-3">
            <a href="{% url 'home' %}" class="btn btn-warning">Back to home</a>
        </form>
    </div>
</div>

{% endblock content %}